body {
  display: flex;
  font-family: sans-serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

div {
  min-width: 300px;
  min-height: 300px;
  text-align: center;
  border: 1px solid black;
  padding: 20px;
}

img {
  margin-bottom: 20px;
}
