body {
  display: flex;
  font-family: sans-serif;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

input {
  font-size: 2em;
}

#result {
  font-family: monospace;
  font-size: 3em;
}
