body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

table {
  margin-top: 20px;
}

table, th, td {
  border: 1px solid black;
  text-align: center;
  border-collapse: collapse;
}

th, td { padding: 10px; }
